<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>新铁管理</title>
    <link rel=stylesheet href=/app/assets/css/magic.css>
    <link rel=stylesheet href=/app/assets/css/iview.css>
    <link rel=stylesheet href=/app/css/report.css>

</head>
<body>
<div class=panel-body style="display: none">
    <div id=sales-chart style="height: 250px;"></div>
</div>
<div id=app>
    <div class="left">
        <!--<span class="left-icon">ii</span>-->
        <div class="left-header">
            <h3><i></i>Magic</h3>
        </div>
        <div class="banner">
            <div class="top-btn">
                <i class="fa fa-bars"></i>
            </div>
            <div class="top-right-btn">
                    <span style="
                            background: url(<%= user.HeadPic %>);
                            background-size: cover;"></span>
                <em><%= user.UserName %></em>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="left-content">
            <ul>
                <li>
                    <i class="fa fa-home"></i><a href="javascript:void(0);">首页</a>
                </li>
                <li>
                    <i class="fa fa-table"></i><a href="/index/report">统计报表</a>
                </li>
                <li>
                    <i class="fa fa-file"></i><a href="/index/conf">配置中心</a>
                </li>
                <li>
                    <i class="fa fa-file"></i><a href="/index/ticket">打印小票</a>
                </li>
            </ul>
        </div>
        <div class="right-content" style="background: #f1f2f7;
    padding: 10px;
    overflow: hidden;
    min-height: 600px;">
            <p style="color: #2196F3;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;">*打印小票前先完成下面的操作：</p>
            <h3><span>第1步：</span>
                <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                    （*选择下面的打印小票的时间区间，点击<i class="tip_bg">查询</i>）</em></h3>

            <Row>
                <i-col span="6">
                    开始时间
                    <Date-Picker type="datetime" v-model="startTime" placeholder="Select date"
                                 style="width: 200px"></Date-Picker>
                </i-col>
                <i-col span="6">
                    截止时间
                    <Date-Picker type="datetime" v-model="endTime" placeholder="Select date"
                                 style="width: 200px"></Date-Picker>
                </i-col>
                <i-col span="8">
                </i-col>
            </Row>
            <br>
            <Row>
                <i-col span="4">
                    <i-button type="primary" style="margin-bottom: 15px;margin-left: 52px;" @click="fetch">查询</i-button>
                </i-col>
                <i-col span="8"></i-col>
                <i-col span="8"></i-col>
            </Row>

            <template v-if="data">
                <h3><span>第2步：</span>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*打开桌面文件：<i class="tip_key">tt.bat</i>）</em></h3>

                <!--<h3><span>第2步：</span>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*在命令行中输入：<i class="tip_bg">osql -S 127.0.0.1 -U MYPOS</i>）
                        按回车键</em>
                </h3>

                <h3><span>第4步：</span>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*输入：<i class="tip_bg">MYPOS</i>）
                        按回车键</em>
                </h3>

                <h3><span>第5步：</span>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*输入：<i class="tip_bg">use MYPOS</i>）
                        按回车键</em>
                </h3>

                <h3><span>第6步：</span>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*输入：<i class="tip_bg">GO</i>）
                        按回车键</em>
                </h3>-->
                <h3>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*输入：<p class="tip_bg">{{data}}</p>）
                        按回车键</em>
                </h3>
                <h3>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*继续输入：<i class="tip_bg">GO</i>）
                        按回车键</em>
                </h3>

                <h3><span>第3步：</span>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*输入：<p class="tip_bg">{{data1}}</p>）
                        按回车键</em>
                </h3>
                <h3><span>继续：</span>
                    <em style="color: #F44336;font-size: 12px;font-weight: 400;font-style: normal;">
                        （*输入：<i class="tip_bg">GO</i>）
                        按回车键</em>
                </h3>
            </template>
            <p style="color: #4CAF50;
    font-size: 16px;">完成，开始打印小票！！</p>
        </div>
    </div>
    <p style="display:none;padding: 10px 0 30px 0;text-align: center;">超市拦截管理系统 https://github.com/rhinoManGit.</p>
</div>

<script src=/app/assets/js/jquery-1.10.2.min.js></script>
<script src=/app/assets/js/echarts.common.min.js></script>
<script src=/app/assets/js/vue.min.js></script>
<script src=/app/assets/js/iview.min.js></script>
<script>
  $(function() {
      /*
       * // 超市IP
       this['LocalIP']       = obj.LocalIP || '';
       // 超市名称
       this['marketName']    = obj.SELLER_NAME || '';
       // 操作类型
       this['OperType']      = obj.OperType || '';
       // 商品名称
       this['name']          = _cell.REMARK || '';
       // 销售
       this['OPER_FULLNAME'] = _cell.OPER_FULLNAME || '';
       // 出售方式
       this['SALE_WAY']      = _cell.SALE_WAY || '';
       // 流水号
       this['FLOW_NO']       = _cell.FLOW_NO || '';
       // 操作码
       this['OPER_NO']       = _cell.OPER_NO || '';
       // POS编号
       this['POS_NO']        = _cell.POS_NO || '';
       // 仓库编号
       this['STOCK_NO']      = _cell.STOCK_NO || '';
       // 商品编号
       this['GOODS_NO']      = _cell.GOODS_NO || '';
       // 出售价格
       this['SALE_PRICE']    = _cell.SALE_PRICE || '';
       // 出售数量
       this['SALE_NUM']      = _cell.SALE_NUM || '';
       // 超市名称
       /*this['price']          = obj.price || '';
       this['purchaseNumber'] = obj.purchaseNumber || '';
       // 拦截状态
       this['status'] = TPL[obj.status] || '';
       */

    new Vue({
      el     : '#app',
      data   : {
        status     : '1', //被拦截
        startTime  : new Date((+new Date) - 3* 1000 * 60 * 60 *24),
        endTime    : new Date((+new Date) + 1000 * 60 * 60 *24),
        data       : '',
        data1       : '',
      },
      methods: {
        fetch      : function() {
          var that = this;

          that.$Loading.start();

          $.ajax({
            url    : `/product/ticketlist`,
            type   : 'GET',
            data   : {
              startTime: +new Date(that.startTime),
              endTime  : +new Date(that.endTime),
              status   : that.status
            },
            success: function(res) {
              if (!res.err) {
                that.data= res.list;
                that.data1= res.list1;
              }
              else {
                that.$Loading.error();
                that.$Message.error({
                  content : res.msg,
                  duration: 2,
                  closable: true,
                });
              }

            },
            error  : function() {
              that.$Loading.error();
            },
          });
        },
        show       : function() {
          this.visible = true;
        }
      },
    });

    var opened = true;
    $('.top-btn').click(function() {

      if (opened)
        $('.left-content').animate({
          'width': '0px',
        }, 'speed', function() {
          opened = false;
        });
      else
        $('.left-content').animate({
          'width': '187px',
        }, 'speed', function() {
          opened = true;
        });

    });

  });
</script>
</body>
</html>